<section class="wed-hom-footer">
  <div class="container">
    <div class="row wed-foot-link">
      <div class="col-md-4 foot-tc-mar-t-o">
        <h4>Đại học Công Nghệ Đông Á</h4>
        <p>Đường Trịnh Văn Bô, Nam Từ Liêm, Hà Nội</p>
        <p>Email: <a href="javascript:void(0)">tuyensinh&#64;eaut.edu.vn</a></p>
        <p>Đại học Công Nghệ Đông Á</p>
      </div>
      <div class="col-md-4">
        <h4>Cơ sở đào tạo thực hành</h4>
        <ul>
          <li><a href="javascript:void(0)">Phone 1:</a></li>
          <li><a href="javascript:void(0)">0243.555.2008</a></li>
          <li><a href="javascript:void(0)">Phone 2:</a></li>
          <li><a href="javascript:void(0)">024.2236.5888</a></li>
          <li><a href="javascript:void(0)">Email:</a></li>
          <li><a href="javascript:void(0)">tuyensinh&#64;eaut.edu.vn</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>HELP & SUPPORT</h4>
        <ul>
          <li><a href="javascript:void(0)">24x7 Live help</a>
          </li>
          <li><a href="javascript:void(0)">Contact us</a>
          </li>
          <li><a href="javascript:void(0)">Feedback</a>
          </li>
          <li><a href="javascript:void(0)">FAQs</a>
          </li>
          <li><a href="javascript:void(0)">Safety Tips</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row wed-foot-link-1">
      <div class="col-md-4 foot-tc-mar-t-o">
        <h4>Get In Touch</h4>
        <p>
          Address: Đường Trịnh Văn Bô, Nam Từ Liêm, Hà Nội / Làng Đại học, Phường Võ Cường, Bắc Ninh
        </p>
        <p>Phone: <a href="javascript:void(0)">+101-1231-4321</a></p>
        <p>Email: <a href="javascript:void(0)">tuyensinh&#64;eaut.edu.vn</a></p>
      </div>
      <div class="col-md-4">
        <h4>DOWNLOAD OUR FREE MOBILE APPS</h4>
        <ul>
          <li><a href="javascript:void(0)"><span class="sprite sprite-android"></span></a>
          </li>
          <li><a href="javascript:void(0)"><span class="sprite sprite-ios"></span></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>SOCIAL MEDIA</h4>
        <ul>
          <li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </li>
          <li><a href="javascript:void(0)"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          </li>
          <li><a href="javascript:void(0)"><i class="fa fa-youtube" aria-hidden="true"></i></a>
          </li>
          <li><a href="javascript:void(0)"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<app-copy-right/>
